@font-face{
font-family:Linetoline;
src:url(14372.ttf);
}
body{
background-color:#d2ff7c;
}

.first{
padding:10px;
max-width:1200px;
margin:25px 10% 30px;
position: absolute;
border:5px double black;
height: auto;
width: 80%;
background-color: #ffffff;
border-radius: 20px;}

ul#nav{
font-family:Linetoline;
list-style-type:none;
letter-spacing:2px;
align:center;
padding:auto;
font-size:20px;
position: absolute;
margin-left: 21%;
}
ul#nav li{
display:inline;
float:right;
margin:10px 0 50px 0;
padding:10px;
}
ul#nav li a{
display:block;
float:left;
width:160px;
height:90px;
line-height:90px;
border:5px double #d2ff7c;
color:#27363d;
border-radius: 20px;
text-decoration:none;
text-align:center;
display:table-cell;

}
ul#nav li a:hover{
background: linear-gradient(to top right, #d8e4ea, #d2ff7c);
color:black;
border:7px double white;}

img{
border-radius:20px;}
h6{
font-family:Linetoline;
margin-top: 150px;
text-align:center;
font-size:50px;
border:5px double #a9c9d8;
}

p{
margin:70px 18% 40px;
font-family:Courier New;
font-weight: bold;
font-size:20px;
}
.gallery{
margin-top:90px;
}

hr{
margin-top:80px;
color:#e4eff4;}

.mainmenubtn {
    background-color:#d8e4ea;
    color: black;
    border: none;
    cursor: pointer;
	border:7px double white;
    padding:20px;
    margin-top:20px;
	border-radius: 20px;
}
.dropdown1 {
    position: absolute;
    display: inline-block;
	
}
.dropdown-child {
    display: none;
    background-color: white;
    min-width: 150px;
	margin-top:20px;
}
.dropdown-child a {
    color: black;
    padding: 20px;
    text-decoration: none;
    display: block;
}
.dropdown1:hover .dropdown-child {
    display: block;
}
