@media (min-width: 480px) and (max-width: 767px) {

.button{
display:none;}

.button1{
display:none;}

.back{
	width:700px;
	padding:1px;
}
.login{
	display:none;	
}
.orig{
display:none;
}
.dropdown1{
	margin-left:24%;
}
.first{	
	margin:25px 15% 30px;
}

.one{
	margin:25px 15% 30px;
}

.gallery1{
	height:250px;
	width:auto;
}
p{
	padding-right:7%;
	font-size:14px;
}
img{
	height:300px;
	width:auto;
	padding-bottom:-40px;
}
h6{
	margin-top:140px;
}
video{
	margin-left:0;
}
gallery{
height:140px;}

@media (orientation: landscape) {
    

    
}
    
@media (orientation: portrait) {
   

}


@media (orientation: landscape) {


    
}
    
@media (orientation: portrait) {


    
}
    
}


}