@media (min-width: 480px) and (max-width: 767px) {

.button{
display:none;}
.button1{
display:none;}

.back{
	width:700px;
	padding:1px;
}

.orig{
display:none;
}
.dropdown1{
	margin-left:24%;
}


.gallery1{
	height:300px;
}
p{
	padding-right:7%;
	font-size:14px;
}
img{
	height:200px;
	width:auto;
}
h6{
	margin-top:140px;
}
video{
	margin-left:0;
}
audio{
	
}
@media (orientation: landscape) {
    

    
}
    
@media (orientation: portrait) {
   

}


@media (orientation: landscape) {


    
}
    
@media (orientation: portrait) {


    
}
    
}


}