@media only screen and (min-width: 768px) and (max-width: 1200px) {


.button{
	display:none;
}
.button1{
display:none;}

.back{
	width:700px;
	padding:1px;
}

.orig{
margin-left:25%;
}
.dropdown1{
	margin-left:30%;
	z-index:9999999;
}
.gallery1{
	height:220px;
}

.slide1  input + label{
	margin-top:108px;
}

p{
	padding-right:7%;
	padding-top:54px;
	font-size:14px;
}
img{
	height:400px;
width:auto;}

}