@media only screen and (min-width: 768px) and (max-width: 1200px) {


.button{
	display:none;
}
.button1{
display:none;}

.back{
	width:700px;
	padding:1px;
}

.orig{
	padding-top:180px;
	
}
.dropdown1{
	margin-left:30%;
}
.gallery1{
	height:220px;
}
p{
	padding-right:7%;
	padding-top:54px;
	font-size:14px;
}
img{
	height:400px;
width:auto;}

}